InteractionHudPanel
{
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-family: poppins;
	.interactioncard
	{
		position: absolute;
		width: 400px;
		height: 200px;
		backdrop-filter: blur(64px);
		align-items: center;
		justify-content: center;
		border-radius: 12px;
		animation: popin 0.1s;
		.icon
		{
			width: 128px;
			height: 128px;
			border-radius: 12px;
			position: absolute;
			top: 12px;
			left: 12px;
		}
		.description
		{
			position: absolute;
			bottom: 12px;
			left: 12px;
			text-align: center;
		}
		.name
		{
			position: absolute;
			top: 12px;
			right: 12px;
			font-size: 42px;
			
		}
		.glyph
		{
			position: absolute;
			bottom: 12px;
			right: 12px;
			width: 100px;
			height: 100px;
		
		}
	}
}
@keyframes popin
{
	0%
	{
		transform: scale(0.5);
	}
	100%
	{
		transform: scale(1);
	}
}