InputHint
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	font-family: poppins;
	.title
	{
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}

	.hint
	{
		position: absolute;
		font-size: 24px;
		top: 12px;
		left: 12px;
		width: 300px;
		height: 100px;
		backdrop-filter: blur(64px);
		align-items: center;
		justify-content: center;
		border-radius: 12px;
		animation: PopIn 0.1s;
		.img
		{
			width: 64px;
			height: 64px;
		}
	}
}

@keyframes PopIn
{
	0%
	{
		transform: scale(0);
	}
	100%
	{
		transform: scale(1);
	}
}