@using Sandbox;
@using Sandbox.UI;
@using Sandbox.Utility;
@using System.Threading.Tasks
@inherits PanelComponent
@namespace Kicks

<root>
		@if (Points is not null)
		{
			<div class="points">Points: @Points.Points</div>
		}
</root>

@code
{
	public PointsComponent Points;

	protected override void OnUpdate()
	{
		Points = Scene.GetAllComponents<PointsComponent>().FirstOrDefault( x => !x.IsProxy );
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
