@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div style="flex-direction: column;">
		<div class="title">Generating World...</div>
		<div class="title">NOTE: This is highly experimental, there could be issues</div>
		<div class="title">"Collection was modified; enumeration operation may not execute" is a normal error</div>
	</div>
</root>

@code
{
	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Time.Now );
}
